<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=title %></h1>
    <p><%=second %></p>
    
        <ul>
            <% if(second % 2===0){ %>
              <%  items.forEach((fruit)=>{ %>
                    <li><%= fruit  %></li>
               <% }) %>
        </ul>
        <% } else { %>
            <p>No items to display</p>
            <% } %>

            <p>
                <%- htmlcontent  %>
            </p>
     <%- include("footer.ejs") %>
</body>
</html>




<!-- index.js -->

import express from "express";

const app=express();
const port=3000;

app.get("/",(req,res)=>{
const data={
    title:"EJS Tags",
    second:new Date().getSeconds(),
    items:["apple","mango","Banana"],
    htmlcontent:"<strong>This is some strong Text</strong>"
};
res.render("index.ejs",data);
})


app.listen(port,()=>{
    console.log(`app is running at ${port}`)
});



